---
---

@import "code4sa-custom-bootstrap";

.banner {
  max-width: 100%;
  width: 100%;
}

#site-footer {
  margin: 50px 0px;
}

.footer-content {
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  padding: 20px 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

body {
   background-repeat: no-repeat;
   background-position: center top;
   background-size: contain;
}
