---
layout: default
---

<header id="site-header">
  <a href="http://www.hack4water.org.za"><img src="img/banner.jpg" class="banner" alt="Submit your water hack now!"></a>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      {{ content }}
    </div>
  </div>
</div>

<footer id="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="footer-content">

          <div class="row">
            <div class="col-md-3" style="padding-bottom:15px; padding-top:10px;">
<a href="https://www.dwa.gov.za/default.aspx" target="_blank"><img src="img/dws-logo.png" style="width:210px" class="center-block"></a>
            </div>
            <div class="col-md-3" style="padding-bottom:15px;">
<a href="http://www.opengovpartnership.org/country/south-africa" target="_blank"><img src="img/ogp-logo.jpg" style="width:100px" class="center-block"></a>
            </div>
            <div class="col-md-3" style="padding-bottom:15px; padding-top:20px;">
<a href="http://www.theinnovationhub.com/" target="_blank"><img src="img/innovationhub-logo.png" style="width:200px" class="center-block"></a>
            </div>
            <div class="col-md-3" style="padding-bottom:15px; padding-top:10px;">
<a href="http://www.code4sa.org/" target="_blank"><img src="img/code4sa_logo_web.png" style="width:180px" class="center-block"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>





