---
layout: default
---

<header id="site-header">
  <img src="img/banner.jpg" class="banner">
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      {{ content }}
    </div>
  </div>
</div>

<footer id="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="footer-content">

          <div class="row">
            <div class="col-sm-6">
              <img src="img/dws-logo.jpg" class="img-responsive">
            </div>
            <div class="col-sm-6">
              <img src="img/ogp-logo.jpg" class="img-responsive">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>
